<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <!-- 
      REQUIRED for Windows Sandbox mapped folders.
      Sandbox mapped drives are treated as "Intranet" zone.
      Without this, .NET blocks loading assemblies from C:\Server.
    -->
    <loadFromRemoteSources enabled="true"/>
  </runtime>
</configuration>
